body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 4342px;
    margin: -1px;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom, #2080c2, #5c7688);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    background-color: #5c7688;
    padding: 40px 0;
    text-align: center;
}

h1 {
    color: #fff972;
    margin-top: 20px;
    font-size: 22px;
}


#FreeFire {
    height: 270px;
    margin-left: -642px;
    width: 457px;
    margin-top: -79px;
}

#JogosFF {
    height: 117px;
}

#mitodoscapa{
    height: 274px;
    margin-left: 47px;
}


p{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin-left: 155px;
    font-weight: 700;
    margin-top: 80px;
    margin-right: 971px;
}

#m4a1{

}