body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 4342px;
    margin: -1px;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom, #2080c2, #5c7688);
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin-left: 54px;
}

main {
    background-color: #5c7688;
    padding: 40px 0;
    text-align: center;
}

h1 {
    color: #fff972;
    margin-top: 20px;
    font-size: 22px;
}

#FreeFire {
    height: 270px;
    width: 457px;
    border-radius: 43px;
}

#JogosFF {
    height: 117px;
}

#mitodoscapa {
    height: 274px;
    margin-left: 47px;
    border-radius: 43px;
}

p {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff972;
    margin-left: 359px;
    font-weight: bold;
    margin-right: 374px;
}

#m4a1 {
    height: 130px;
    margin-bottom: -130px;
    transform: rotate(27deg);
    margin-left: -232px;
}

footer {
    background-color: #333;
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px;
}

.footer {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: white;
    margin-left: -896px;
}
#apresentaçãorodapé{
    color: #f4f4f4;
    margin-bottom: -74px;
}
#contato{
    height: 180px;
    margin-left: 786px;
    margin-bottom: -58px;
    margin-top: -111px;
}
