body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 4342px;
    margin: -1px;
    padding: 20px;
}

header {
    background: linear-gradient(to bottom, #2080c2, #5c7688);
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 52px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    background-color: #5c7688;
    padding: 40px 0;
    text-align: center;
}

h1 {
    color: #fff972;
    margin-top: 20px;
    font-size: 54px;
}


#FreeFire {
    height: 825px;
    left: 32px;
    margin-left: 28px;
    width: 1433px;
    margin-top: -62px;
}

#JogosFF {
    height: 321px;
}